body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 38px;
    height: 38px;
}

.media-body{
    padding-top: 10px;
}

.profile .section{      /*分层级，profile 下的section 注意中间空格！！！ */
    margin-top: 15px;
}

.trysay-menu{
    display: block;/*改文块元素才能设置那些，因为a标签带链接也是行内元素*/
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

.jumbotron{
    margin: 50px;
}

.comment{
    margin: 10px 0;/*上下10，左右0*/
}

.btn-comment{
    float: right;
    margin-bottom: 10px;
}

.comments{
    margin-bottom: 15px;
    padding: 5px;
    border-bottom: 1px solid #eee;/*1px的实线颜色999*/
}

.comment-sp{
    margin-top: 0;
}

.comment-bot{
    padding-top: 25px;
}

.menu{
    color: #999;
    margin-top: 5px;
}

.menu .icon{
    margin-right: 6px;/* 间隔*/
    font-size: 15px;
    cursor: pointer;/* 选中变成小手*/
}

.menu .active{
    color: #499ef3;
}

.menu .icon:hover{/* 鼠标悬浮*/
    color: #499ef3;
}

.question-title{
    margin-top: 25px;
}

.sub-comment{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comment .btn{
    margin: 10px 0;
}